footer {
	width: 100%;
	font-size: .9rem;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 0 15px;
	color: var(--clr-light);
	background-color: var(--clr-bg-main);
}

.data-source-container {
	display: flex;
	align-self: center;
}

footer p {
	margin: 0;
}

footer a {
	margin-left: 5px;
	color: inherit;
}
