main {
  padding: 30px;
  width: 350px;
}

h3 {
  margin-top: 0;
}

.table {
  width: 100%;
}

.table-row {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .4);
}

.label,
.value {
  padding: 5px 15px;
}

.label {
  flex-grow: 1;
}

.value {
  font-weight: bold;
  text-align: right;
  width: 80px;
}

footer {
  font-size: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 30px 30px 30px;
  color: var(--clr-light);
}

footer a {
  color: inherit;
}

footer p {
  margin: 0;
}
