/* tab styling */
.tabs {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.tabs > input,
.tabs section > div {
	display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3 {
	display: block;
}

.tabs ul {
	display: flex;
	justify-content: center;
}

li.li-tab {
	width: calc(100% / 3);
}

.tab-label {
	position: relative;
	height: 100%;
	text-align: center;
	color: var(--clr-light);
	cursor: pointer;
	transition: all .3s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
}

img.label-img {
	width: 45px;
}

.tabs ul li label:hover {
	background: #dddddd;
}

.tab-content {
	transition: all .3s;
	/*padding-top: 20px;*/
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label {
	border-bottom: 1px solid white;
}
